#sidebar {
    display: inline-block;
    z-index:5;
    background: white;
}

.sidebar {
    height: 90vh;
    width: 18vw;   
    padding: 2vw;
    display: inline-block;
    z-index: 5;
}

.sidebar .tabs .tab img{
    height: 2.2rem;
    margin-right: 0.8rem;
}

@media all and (max-width: 1200px) {
    #sidebar {
        display: none;
    }
    .sidebar {
        width: 18rem;
    }
}

@media all and (max-width: 430px) {
    .sidebar {
        height: 92vh;
    }
}